@font-face {
  font-family: "Mi Iconfont";
  src: url(fonts/mi-icon.woff) format('woff');
  font-weight:normal;
  font-style:normal;
}

.mi{
  display: inline-block;
  font-family: "Mi Iconfont";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.mi-lg{
  font-size: 1.3333333333333333em;
  line-height: .75em;
  vertical-align: -15%
}
.mi-2x{
  font-size: 2em;
}
.mi-3x{
  font-size: 3em;
}
.mi-4x{
  font-size: 4em;
}
.mi-5x{
  font-size: 5em;
}

.mi-fw {
  width: 1.2857142857142858em;
  text-align: center
}


.mi-arrow-left:before {
  content: "\E626"
}

.mi-arrow-right:before {
  content: "\E621"
}

.mi-arrow-up:before {
  content: "\E611"
}

.mi-arrow-down:before {
  content: "\E61A"
}

.mi-arrow-left-big:before {
  content: "\E628"
}

.mi-arrow-right-big:before {
  content: "\E623"
}

.mi-arrow-up-big:before {
  content: "\E612"
}

.mi-arrow-down-big:before {
  content: "\E61B"
}

.mi-arrow-up-tail:before {
  content: "\E62F"
}

.mi-arrow-down-tail:before {
  content: "\E633"
}

.mi-arrow-down-mini:before {
  content: "\E61C"
}

.mi-arrow-down-small:before {
  content: "\E62B"
}

.mi-arrow-left-thin:before {
  content: "\E629"
}

.mi-arrow-right-thin:before {
  content: "\E624"
}

.mi-arrow-left-big-thin:before {
  content: "\E627"
}

.mi-arrow-right-big-thin:before {
  content: "\E622"
}

.mi-like:before {
  content: "\E60F"
}

.mi-like2:before {
  content: "\E607D"
}

.mi-like3:before {
  content: "\E90A"
}

.mi-like3-outline:before {
  content: "\E909"
}

.mi-dislike:before {
  content: "\E603"
}

.mi-dqm-left:before {
  content: "\E625"
}

.mi-dqm-right:before {
  content: "\E620"
}

.mi-check:before {
  content: "\221A"
}

.mi-close:before {
  content: "\E602"
}

.mi-close-small:before {
  content: "\D7"
}

.mi-circle-check:before {
  content: "\E618"
}

.mi-circle-close:before {
  content: "\E605"
}

.mi-plus:before {
  content: "\E609"
}

.mi-minus:before {
  content: "\E60B"
}

.mi-heart:before {
  content: "\E62E"
}

.mi-heart-outline:before {
  content: "\E62D"
}

.mi-heart-small:before {
  content: "\E631"
}

.mi-heart-outline-small:before {
  content: "\E614"
}

.mi-face:before {
  content: "\E61F"
}

.mi-face-smile:before {
  content: "\E60E"
}

.mi-face-sad:before {
  content: "\E613"
}

.mi-face-laugh:before {
  content: "\E619"
}

.mi-cart:before {
  content: "\E60C"
}

.mi-cart-plus:before {
  content: "\E60A"
}

.mi-cart-full:before {
  content: "\E60D"
}

.mi-menu:before {
  content: "\E62C"
}

.mi-message:before {
  content: "\E610"
}

.mi-message2:before {
  content: "\E600"
}

.mi-forward:before {
  content: "\E607"
}

.mi-forward2:before {
  content: "\E639"
}

.mi-question:before {
  content: "\E617"
}

.mi-wechat:before {
  content: "\E608"
}

.mi-weibo:before {
  content: "\E630"
}

.mi-qzone:before {
  content: "\E632"
}

.mi-play:before {
  content: "\E601"
}

.mi-disbled:before {
  content: "\E61E"
}

.mi-simcard:before {
  content: "\E641"
}

.mi-simcard2:before {
  content: "\E906"
}

.mi-telecom:before {
  content: "\E640"
}

.mi-tool:before {
  content: "\E634"
}

.mi-circle-7:before {
  content: "\E635"
}

.mi-circle-15:before {
  content: "\E636"
}

.mi-location:before {
  content: "\E637"
}

.mi-location2:before {
  content: "\E90B"
}

.mi-gift:before {
  content: "\E638"
}

.mi-gift2:before {
  content: "\E63E"
}

.mi-gift3:before {
  content: "\E905"
}

.mi-search:before {
  content: "\E616"
}

.mi-search2:before {
  content: "\E63A"
}

.mi-sync:before {
  content: "\E62A"
}

.mi-sync2:before {
  content: "\E63B"
}

.mi-card:before {
  content: "\E63C"
}

.mi-card-outline:before {
  content: "\E907"
}

.mi-alarm:before {
  content: "\E63D"
}

.mi-fcode:before {
  content: "\E63F"
}

.mi-clock:before {
  content: "\E606"
}

.mi-star:before {
  content: "\E61D"
}

.mi-alert:before {
  content: "\E90C"
}

.mi-circle-arrow-right:before {
  content: "\E615"
}

.mi-circle-phone:before {
  content: "\E904"
}

.mi-phone:before {
  content: "\E908"
}

.mi-month:before {
  content: "\E901"
}

.mi-1yuan:before {
  content: "\E903"
}